.memory-game {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 16px;
    //padding-top: 48px;
}

.turns-display {
    border-radius: 25%;
}