.text {
    user-select: none;
    text-align: center;
}

.letter {
    border-radius: 16px;
    text-transform: capitalize;
    position: relative;
    float: left;
    width: 21%;
    height: auto;
    margin: 2%;
    box-shadow: -2px -4px 8px rgb(255 255 255 / 60%), 2px 4px 8px rgb(0 0 0 / 30%);
}

.letter-circle {
    position: absolute;
    line-height: 1;
    font-size: 52px;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.89);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border: 1px;
    border-color: var(--chakra-colors-gray-500);
    display: flex;
}

.selected {
    background-color: var(--chakra-colors-cyan-200) !important;
}

@keyframes flash-score-keyframes {
    0% { background-color: lightgray }
    10% { background-color: var(--chakra-colors-yellow-200) }
    20% { background-color: var(--chakra-colors-yellow-400) }
    80% { background-color: var(--chakra-colors-yellow-400) }
    100% { background-color: lightgray }
}

.flash-word-score {
    animation: flash-score-keyframes 2s linear;
    background-color: lightgray;
}

@keyframes flash-wrong-keyframes {
    0% { background-color: lightgray }
    10% { background-color: var(--chakra-colors-red-200) }
    20% { background-color: var(--chakra-colors-red-400) }
    80% { background-color: var(--chakra-colors-red-400) }
    100% { background-color: lightgray }
  }

.flash-word-wrong {
    animation: flash-wrong-keyframes 0.5s linear;
    background-color: lightgray;
}