.sudoku-game {
    flex-direction: colunmn;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center; /* vertically aligns items */
    align-items: center; /* horizontally aligns items */
}